$body-bg: #fff;
$gray-base: #000;
$gray: lighten($gray-base, 25%);
$gray-light: lighten($gray-base, 50%);
$gray-lighter: lighten($gray-base, 75%);
$brand-info: #f99d1c;
$brand-primary: #26a2be;
$brand-warning: #82c8c9;
$jumbotron-color: #fff;
$font-size-base: 15px;
$font-size-h1: floor(($font-size-base * 2.6));
$font-family-sans-serif: 'Oxygen', sans-serif;
$headings-font-family: 'Roboto Slab', serif;
$headings-font-weight: 400;
$btn-font-weight: 300;
$thumbnail-padding:0;
$btn-default-color: #fff;
$btn-default-bg: transparent;
$btn-default-border: #fff;
$btn-primary-bg: transparent;
$btn-primary-border: $gray-light;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: $brand-primary;
$border-radius-large: 4px;
$border-radius-base: 3px;
$border-radius-small: 2px;
$pagination-hover-bg: $brand-primary;
$pagination-hover-color: transparentize($body-bg, 0.3);
$table-bg-accent: transparentize($brand-primary, 0.8);
$table-border-color: transparentize($brand-primary, 0.8);
$panel-bg: lighten($gray-base, 98%);
$panel-default-heading-bg: lighten($gray-base, 96%);
$panel-default-border: transparent;
$blockquote-border-color: $brand-primary;

$thumbnail-border: transparent;
$thumbnail-bg: transparent;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$navbar-default-toggle-hover-bg: transparent; 
$navbar-default-toggle-icon-bar-bg: $body-bg; 
$navbar-default-toggle-border-color: transparent;
$navbar-collapse-max-height: 500px;
$font-size-base: 15px;
$line-height-base: 1.8;
$jumbotron-font-size: floor(($font-size-base * 1.2));
$default-hover: transparentize($brand-info, 0.7);
$primary-hover: $brand-primary;
$state-info-bg: $brand-warning;
$state-info-text: transparentize($gray-base, 0.3);


$color-dark: #636467;
$color-darker: #000;

$color-light: #fff;

@import "vendor/bootstrap-custom";

/*==========================
General
==========================*/
img{
	width:100%;
}

a {
	&:hover{
		text-decoration: none;
	}
}


body {
	font-weight: 300;
	
}


ul, ol {
	padding-left: 20px;

	li {
		margin-bottom: 12px;
	}
}

figcaption{
	display: inline-block;
	border-bottom: 1px solid $gray-lighter;
	padding-bottom: 10px;
	margin-bottom: 10px;
}


thead {
	background: $brand-primary;
	color: $body-bg;
}


p {
	font-size: $font-size-base;
}


section {
	position: relative;
}

section::before, section::after {
position: absolute;
content: '';
pointer-events: none;
}

input[type="radio"], input[type="checkbox"] {
margin: 7px 0 0;}

/*==========================
Navbar
==========================*/

.navbar-wrapper{}


.navbar{
	z-index: 1050;
	width: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-width: 0;
	border-radius:0;
	margin-bottom: 0;
	position: relative;
	top:0px;
	font-size: floor(($font-size-base * 1.2));
	background: transparent;


	.navbar-nav { 
		margin-top: 0;
		background-color: transparentize($body-bg, 0.1);
		z-index: 1050;
		margin-bottom: 0;
		
		> li {

			border-bottom: 1px solid transparentize($brand-primary, 0.8);
			@media screen and (min-width: $screen-sm-min) {
				border-bottom: none;
			}

			&:hover {
				border-bottom: 2px solid $brand-primary; 

				}


			> a{
				color: $brand-primary;
				@media screen and (min-width: $screen-sm-min) {
					color: $body-bg;
				}
			}
		}

		@media screen and (min-width: $screen-sm-min) {
			background: transparent;
			margin-top: 20px;;
		}
	}

	.navbar-brand img{
		width: 150px;
		margin-top: 6px;
		&.logo-white{
			display:none;
		}
		

	}


}


.navbar-fixed-top {
	position: fixed;
	top: 0;
	background: transparentize($body-bg, 0.1);
	border-bottom: 1px solid transparentize($brand-primary, 0.6);
} 
.navbar.affix {
    position: fixed;
    top: 0px;
    width: 100%;
    background: transparentize($body-bg, 0.1);
    border-bottom: 1px solid transparentize($brand-primary, 0.6);

    .navbar-toggle .icon-bar {
    	background-color: $brand-primary;
    }

    .navbar-nav {
    	background: transparentize($body-bg, 0.1);

    	@media screen and (min-width: $screen-sm-min) {
					background: transparent;
				}

    	> li > a{ 
    	color: $brand-primary;
    	&:hover{
    		color:$color-dark;
    		}
    	}

    }

    .navbar-brand img{
		&.logo-white{
			display:none;
		}

	}
}


.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}


.no-jumbotron {
	
	margin-bottom: 50px;
	background: $body-bg;
    border-bottom: 1px solid transparentize($brand-primary, 0.6);

	.navbar-nav > li > a {
		color: $brand-primary;
	}

}

.navbar-toggle {
	margin-top: 25px;
}


/*==========================
Navbar
==========================*/


.jumbotron {  
	background: url(../images/home-jumbotron.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	min-height: 550px;
	text-align: center;
	position:relative;
	margin-top: -90px;
	padding-left: 0;
	padding-right: 0;


	.overlay-content {
		&:hover{
		 background-color: transparentize($color-darker, 0.5);
		}
		.container {
			position: absolute;
			top: 50%;
			left:0;
			right:0;
			bottom:0;
		-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
		}

	}

	.semi-bg{
			position:relative;
			margin-top:550px;
			margin-left: 0;
			margin-right: 0;

		}
	
	p{
		font-weight: 200;
		font-size: 20px;
		margin-top: 25px;
	}
	a.btn{
		margin-bottom: 25px;
	}

	
	@media screen and (min-width: $screen-sm-min) {
		h1,
	    .h1 {
	      font-size: ($font-size-base * 3.5);
	    }
  	}




}


/*==========================
Service
==========================*/
.service-highlight {
	background-color: $body-bg;
	margin-top: -85px;
	padding: 30px;
	padding-bottom: 60px;
	text-align: center;
	z-index: 10;
	p {
		font-size:  $font-size-base * 1.2;
		
	}
}

/*==========================
FontAwesome
==========================*/

.fa-6x { font-size: 6em; }
.fa-7x { font-size: 7em; }

.fa-half {font-size: 0.5em}
.fa-border-round {
	border: 1px solid;
	border-radius: 50%;
}
.fa-space { margin: 0 25px; }

/*==========================
Backgrounds
==========================*/

.general-bg {
	background:  linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) ), url('../images/general-bg.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position:relative;
	&.semi-bg{
		position: relative;
	}
}


/*==========================
Blog Thumbnail
==========================*/


.blog {

	.thumbnail {
		border-color: #ddd;

			img{
			
			}
	}

	.media .media-object{
		width: 100px;
	}
}

.thumbnail{
	margin-bottom: 0;
}



/*==========================
Portfolio
==========================*/


.overlay-content{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1;
	padding: 0 1%;
	z-index: 10;
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: absolute;
	top: 0;
	left:0;
	background-color:transparentize($color-darker, 0.5);
	color: $color-light;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

		.overlay-content-items{
			 	position:relative;
			  	top: 45%;
			  	transform: translateY(-50%);
			  	-webkit-transform: translateY(-50%);
			  	-ms-transform: translateY(-50%);
			  	display: block;
		}

		p{
			@include center-block;
			width: 70%;
		}

		&:hover{
			background-color:transparentize($brand-info, 0.3); 
			btn {

			}
		}

		
}

.portfolio-item {

	padding:0;
	position:relative;
	img {
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		width:auto;
		min-height:100%;

		@media (min-width: 2900px) { 
			width:100%;
		}
	
		&.featured {
			@media screen and (min-width: $screen-sm-min) {
			width: 100%;
			left:0;
			}
			height:auto;

		}
	}
	height:400px;
	overflow:hidden;

	.overlay-content{
		@extend .overlay-content;
	}
	a{
		display:block;
	}

}

.office {
	@extend .portfolio-item;
	img{ 
		width: 100%;
	}
}

/*==========================
Team
==========================*/
.team-detail {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom:0;
	z-index: 100;
	top: 58%;
	width: 80%;
	margin: 0 auto;
	text-shadow: 1px 1px 1px #000;

}

/*==========================
Blog
==========================*/


	.img-circle{
		width: 60%;
		border: 1px solid transparentize($gray-base, 0.5); 
	}




/*==========================
Buttons
==========================*/
.btn{
	border-radius: 3px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	&:focus{
		outline: 0;
		color: initial;
	}
	
}

.btn-default:hover {
	background-color: $default-hover;
	border-color: $default-hover;
}

.btn-primary {
	color: $gray;
}

.btn-primary:hover, btn-primary:active{
	background-color: $primary-hover;
	border-color: $primary-hover;
	color: $body-bg;
}


/*==========================
Forms
==========================*/
.form-control{
	margin-bottom: 15px;
}

/*==========================
Seperators
==========================*/





/* Curves */

svg{
	display: block;
	margin-top: -4px;
}



#slit{
	background: $brand-primary;
	display:block;
}

#slitPath1 {
	fill: $body-bg;
	stroke: red;
	stroke-width: 0;
}

#slitPath2, #slitPath3 {
	fill: $body-bg;
}

/*==========================
isotope
==========================*/

#posts .thumbnail, .posts .thumbnail,{
	border-color: #ccc;
	margin-bottom: 30px;
	 h3{
	 	margin-top:5px;
	 }
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
  
  


/*==========================
partners
==========================*/


.partners{
	img {
		
  		width: 60%;
	}
}

/*==========================
Footer
==========================*/

footer {
	color:transparentize($body-bg, 0.4);
	
	a {
		color: transparentize($body-bg, 0.3);
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;

		&:hover{
			color: $body-bg;
		}

	}

	.social {

		.media { 
				padding-bottom:10px;
				@media screen and (min-width: $screen-sm-min) {
					text-align:left;
				}

			.media-left {
				display: block;
				@media screen and (min-width: $screen-sm-min) {
					display: table-cell;
				}

			}


		}
		
	}

	img{
		width: 60px;
		margin-top: 40px;
	}
}

.footer-bottom{
	background-color: darken($brand-primary, 20%);
	padding: 10px;
}

/*==========================
Drupalgive
==========================*/

.contributions div.media {
	padding-bottom: 30px;
	/*border-bottom: 1px solid $gray;*/
	margin-bottom: 30px;
}


/*==========================
Single Hexagon
==========================*/
.hex  {
  position:relative;
  margin:auto;
  text-align:center;
  overflow:hidden;
  white-space:nowrap;
  display:table;
}
.hex:before {
  content:'';
  padding-top:120%;
  display:inline-block;
  vertical-align:middle;
}

.hex:after {
  content:'';
  position:absolute;
  top:0%;
  left:-10%;
  width:120%;
  padding-top:120%;
  transform: rotatex(45deg) rotate(45deg);
  text-align:center;
  box-shadow:0 0 0 200px white;;
}
.hex img {
  display:inline-block;
  vertical-align:middle;
  margin:0 -25px;
  width:120%;
}



/*==========================
Hexagon Grid CSS
==========================*/

#team-grid {
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-o-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	transition: all ease 500ms;
}


.team-grid-item {
	width: 250px;
	height: 230px;
	position: relative;
	display: inline-block;
}

.hexagon2 {
	position: absolute;
	width: 250px;
	height: 400px;
	top: -85px;
}

.hexagon {
	overflow: hidden;
	visibility: hidden;

	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
	cursor: pointer;
}

.hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hexagon-in2 {
	/*-webkit-box-shadow: inset 0 0 0 200px transparentize($gray-base, 0.7);
	box-shadow: inset 0 0 0 200px transparentize($gray-base, 0.7);*/
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;

	-webkit-background-size: 125%;
	-moz-background-size: 125%;
	background-size: 125%;
	visibility: visible;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.hexagon-in2:hover {
	-webkit-box-shadow: inset 0 0 0 0px transparentize($gray-base, 0.7);
	box-shadow: inset 0 0 0 0px  transparentize($gray-base, 0.7);
	
}



#team-grid article {
	width: 250px;
	margin:0 auto;
}

.team-grid-item:nth-child(3n) {
	margin-left: 0px;
}

.team-grid-item:nth-child(2n) {
	margin-left: 0;
}

.team-grid-item:nth-child(n+2) {
	margin-top: 0;
}

.team-grid-item:nth-child(3n) {
	margin-left: 0;
}

.team-grid-item:nth-child(n+3) {
	margin-top: 0;
}

.team-grid-item:nth-child(5n-1) {
	margin-left: 0px;
}


.team-grid-item:nth-child(n+4) {
	margin-top: 0;
}



@media (min-width: 500px) and (max-width: $screen-xs-max) {
	#team-grid article {
	width: 505px;
	margin: 0 auto;
}



.team-grid-item:nth-child(3n) {
	margin-left: 127px;
}

.team-grid-item:nth-child(n+3) {
	margin-top: -21px;
}

}


@media (min-width: $screen-sm-min) {
	
		#team-grid article {
			padding-top: 1em;
			width: 768px;
			margin: 0 auto;
		}

	.team-grid-item:nth-child(5n-1) {
		margin-left: 127px;
	}

	.team-grid-item:nth-child(n+4) {
		margin-top: -20px;
	}

}


/*===============
Media/comment
==================*/

.comments{
	.media{
		border-bottom: 1px solid $gray-lighter;

		padding-bottom: 15px;
	}

	.media .media {
		padding-top: 15px;
		border-bottom: 0;
		border-top: 1px solid $gray-lighter;
		padding-bottom: 0;
	}
}

img.media-object{
	width: auto;
	border-radius: 50%;
}


/*==========================
Drupal Styleguide
==========================*/

.messages {
	@extend .alert;
	h2 {
		margin-top: 0;
	}
	a {
		color: inherit;
		font-weight: 400;
		text-decoration: underline;

	}
}

.error { 
	@extend .alert-danger;
}

.warning {
	@extend .alert-warning;
}

.status {
	@extend .alert-info;

}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	margin-left: 0;
}


.panel {

	box-shadow:none;
	.panel-heading {
		border-bottom: 1px solid $gray-lighter;
	}
	legend {
		margin-bottom: 0;
	}
}



.input-group-btn .btn-primary {
	border-color: #ccc;
}

.nav li, .breadcrumb li {
	margin-bottom:0;
}

blockquote {
	position: relative;
	background: transparentize($brand-primary, 0.8);
}

blockquote:before {
	position: absolute;
	width: 50px;
	height: 50px;
	background: $brand-primary;
	content: "\275d";
	font-size: 32px;
	color: transparentize($body-bg, 0.3);
	top: -8px;
	left: -29px;
	border-radius: 50%;
	text-align: center;

}

blockquote:after {

content:”\201D”;

}

.thumbnail img {
	max-width: 200px;
	margin-left: 0;
	margin-right: 0;

}

.thumbnail.full img {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}


/*==========================
Helper
==========================*/

h1.extra-large {
	font-size: floor(($font-size-base * 3));
	margin-bottom: 50px;
}

.no-padding{
	padding: 0 !important;
}

.padding-lg{
	padding:20px;
}


.ptn {
	padding-top: 0 !important;
}

.pbn {
	padding-bottom: 0 !important;
}

.mbn{
	margin-bottom: 0 !important;
}

.mtn{
	margin-top: 0 !important;
}

.semi-bg {
	background-color:transparentize($gray-base, 0.3);
	position: absolute;
	bottom:0;
	width: 100%;
	z-index: 10;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.small-img {
	width:100px;
}

.decorated{
     overflow: hidden;
     text-align: center;
 }
.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    width: 30%; /* half of limiter */
    margin: 0 20px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}

.short-line{
	width: 20%;
}

.dark-line{
	border-color: $gray-light;
}

.seperator-row{
	padding-top: 50px;
	padding-bottom: 50px;
}

.seperator-container{
	margin-bottom: 15px;
}


.seperator-column{
	padding-top: 20px;
	padding-bottom: 20px;
}

.bg-warning {
	background-color: $brand-warning;
	color: transparentize($gray-base, 0.3);

	.text-dark {
		color: transparentize($gray-base, 0.3);

	}
}
img.medium {
	width: 60%;
	margin: 0 auto;
}

.text-dark {
	color: $gray-base;
}
.bg-gray{
	background-color: $gray-lighter;
	color: $gray; 
}

.text-light{
	color: $color-light;
}

.bg-info{
		background-color: $brand-info;
	} 

.lead, .rich-text .lead{
	font-size: $font-size-base * 1.25;
	line-height: 1.8;
}

.rich-text p, .rich-text li{
	font-size: $font-size-base * 1.1;
}



.alt-link a, a.alt-link{

		color: inherit;

}

.text-info {
	color: $brand-info;
}

.seperator{
	position:relative;
	
	&:before {
		position: absolute;
		content: '';
		pointer-events: none;

		bottom: 10px;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		background: $gray;
		box-shadow: 30px 0 $gray, -30px 0 $gray;


	}
}

.element-invisible {
	display:none;
}

.teaser-row {
	.btn {
		margin-top: 25px;
	}
}
